<header class="navbar">
    <div class="container">
        <a href="#" class="navbar-brand">Hırdavat Dünyası</a>
        <nav>
            <ul class="navbar-nav">
                <li><a href="/Home/Index/">Ana Sayfa</a></li>
                <li><a href="/Product/Index/">Ürünler</a></li>
                <li><a href="#">Kampanyalar</a></li>
                <li><a href="#">Hakkımızda</a></li>
                <li><a href="#">İletişim</a></li>
                <li><a href="#" class="cart-icon" title="Sepetim"><i class="fas fa-shopping-cart"></i> Sepetim</a></li>
            </ul>
        </nav>
    </div>
</header>